.buttons {
    margin-top: 20px;
    margin-right: 10px;
}

.container table {
    border-collapse: collapse;
}

.container td, .container th {
    border: 1px solid slategray;
}

.container tbody tr:hover {
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}

.name {
    width: 400px;
}

.count {
    text-align: end;
}

.amount {
    width: 100px;
    text-align: end;
}

.total {
    text-align: start;
}

.button {
    margin-top: 15px;
}
