.buttons {
    margin-top: 20px;
    margin-right: 10px;
}

.container table {
    border-collapse: collapse;
}

.container td, .container th {
    border: 1px solid slategray;
}

.id {
    width: 60px;
    text-align: center;
}

.name {
    width: 500px;
}

.count {
    width: 100px;
    text-align: end;
}

.price, .sum {
    width: 100px;
    text-align: end;
}

.total {
    text-align: start;
}
