.container {
    width: 350px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form > input {
    font-size: 20px;
    height: 36px;
    margin-bottom: 20px;
}

.button {
    padding: 5px;
}
