.formContainer {
    display: flex;
    flex-direction: column;
}

.formContainer > label {
    margin-bottom: 15px;
}

.name, .price, .description {
    width: 240px;
}

.button {
    margin-right: 15px;
}
