.buttons {
    margin-top: 20px;
    margin-right: 10px;
}

.container table {
    border-collapse: collapse;
}

.container td, .container th {
    border: 1px solid slategray;
}

.container tbody tr:hover {
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}

.id {
    width: 50px;
    text-align: center;
}

.amount {
    width: 100px;
    text-align: end;
}

.email {
    width: 200px;
    text-align: center;
}
