.buttons {
    margin-top: 20px;
    margin-right: 10px;
}

.container table {
    border-collapse: collapse;
}

.container td, .container th {
    border: 1px solid slategray;
}

.container tbody tr:hover {
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}

.id {
    width: 50px;
    text-align: center;
}

.name {
    width: 100px;
}
.email {
    width: 200px;
}

.role {
    width: 70px;
}

.delete {
    width: 100px;
    text-align: center;
}

.delete:hover {
    color: red;
}

.button {
    margin-top: 20px;
}
