.container {
    display: flex;
    user-select: none;
}

.plus, .minus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid slategray;
    border-radius: 5px;
    cursor: pointer;
}

.plus:active, .minus:active {
    background-color: darkgrey;
}

.count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Courier New', Courier, monospace;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lightgreen;
    border-radius: 5px;
    cursor: pointer;
}

.add:active {
    background-color: seagreen;
}
