.container {
    display: flex;
    flex-direction: column;

    border: 1px solid slategray;
    border-radius: 10px;

    width: 300px;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.name {
    height: 40px;
}

.description {
    height: 40px;
}

.price {
    font-size: 20px;
    text-align: end;
}

.link {
    color: black;
    text-decoration: none;
}
